.container{
    background-color: #f3f3f3;
    /*text-align: center;*/
    /*margin: auto;*/
    padding: 50px;
    padding-top: 20px;
    width: 75%;
    /*border: 3px solid green;*/
    position: absolute;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LoginTitle{
    text-align: center;
    font-weight: bold;
}

.c1{
    padding-top: 30px;
    padding-bottom: 10px;
}

.c2{
    padding-top: 10px;
    padding-bottom:10px;
}
